#gameCanvas {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  margin: auto;
}

body {
  display: flex;
  background-color: pink;
}
